<!DOCTYPE html>
<html>

<head>
    <title>图形绘制</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .image-container img {
            max-width: 100%;
            margin: 10px;
        }
    </style>
</head>

<body>
<div class="p-3">
    <h1 class="title">图形绘制</h1>
    <form id="myForm" action="/draw" method="POST">

        <div class="field">
            <label class="label">prompt</label>
            <div class="control">
            <textarea class="textarea is-primary is-small" id="textarea1" name="prompt" rows="4" cols="200"
                      placeholder="loli,little loli,pettie,black bodysuit,see-through,covered nipples,"></textarea>
            </div>
        </div>
        <div class="field">
            <label class="label">negative_prompt</label>
            <div class="control">
            <textarea class="textarea is-primary is-small" id="textarea2" name="negative_prompt" rows="4" cols="200"
                      placeholder="(worst quality:1.3),(low quality:1.3),(normal quality:1.3),"></textarea>
            </div>
        </div>
        <div class="field">
            <label class="label">url</label>
            <div class="control">
                <textarea class="textarea is-primary is-small" id="textarea3" name="url" rows="2" cols="200"></textarea>
            </div>
        </div>
        <div class="field">
            <label class="label">数量</label>
            <div class="control">
                <input class="input is-primary is-small" id="textarea4" type="text" name="n_iter"></input>
            </div>
        </div>
        <div class="field">
            <label class="label">宽</label>
            <div class="control">
                <input class="input is-primary is-small" id="textarea5" type="text" name="width"></input>
            </div>
        </div>
        <div class="field">
            <label class="label">高</label>
            <div class="control">
                <input class="input is-primary is-small" id="textarea6" type="text" name="height"></input>
            </div>
        </div>
        <div class="field">
            <label class="label">步数</label>
            <div class="control">
                <input class="input is-primary is-small" id="textarea7" type="text" name="steps"></input>
            </div>
        </div>
        <input class="button" type="submit" value="绘制图形">
    </form>
    <h1 class="title mt-3">绘制结果</h1>
    <div class="image-container">
        {% for image in data.images %}
        <img width="600" src="data:image/jpeg;base64,{{ image }}" alt="图像">
        {% endfor %}
    </div>
</div>
</body>
<script>
    window.onload = function() {
        var urlParams = new URLSearchParams(window.location.search);
        var url = urlParams.get('url');
        var form = document.getElementById('myForm');
        document.getElementById('textarea1').value = 'loli,little loli,petite,short,young,bodysuit,see through,covered nipples,';
        document.getElementById('textarea2').value = '(worst quality:1.3),(low quality:1.3),(normal quality:1.3),';
        document.getElementById('textarea3').value = url || '';
        document.getElementById('textarea4').value = '12';
        document.getElementById('textarea5').value = '600';
        document.getElementById('textarea6').value = '800';
        document.getElementById('textarea7').value = '30';
        form.action = '/draw?url=' + url || '';
    }
</script>

</html>
