<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>图形绘制</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .image-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .image-container img {
            max-width: 100%;
            margin: 10px;
            filter: blur(0px);
        }

        #backToTopBtn {
            position: fixed;
            z-index: 9999;
            bottom: 20px;
            right: 20px;
            padding: 10px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .file-name {
            max-width: 100%;
        }

        textarea,
        input {
            font-size: 16px !important;
        }
    </style>
</head>

<body>
    <div class="p-3 content">
        <button id="backToTopBtn" onclick="scrollToTop()">返回顶部</button>
        <h1 class="title">
            图形绘制
            <span>
                <button class="button"><a id="AddNewTab" href="" target="_blank">增生頁面</a></button>
            </span>
            <span>
                <button class="button" onclick="showIframe()">魔导书</button>
            </span>
        </h1>
        <div id="IframeCon" class="content" style="display:none">
            <iframe id='MyIframe' src="https://thereisnospon.github.io/NovelAiTag/" width="100%" height="1720"
                allowfullscreen>
            </iframe>
        </div>
        <div class="box">
            <form id="myForm">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Department</label>
                    </div>
                    <div class="field-body">
                        <div class="field is-narrow">
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select id="mySelect" name="model">
                                        {% for model in data.models %}
                                        {% if data.cur_model_name == model.title %}
                                        <option selected>{{model.title}}</option>
                                        {% else %}
                                        <option>{{model.title}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">prompt</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea is-primary is-small" id="textarea1" name="prompt" rows="3"
                                    placeholder="请输入正面标签"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label"></label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <div class="prompt-list field is-grouped is-grouped-multiline">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">negative_prompt</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea is-primary is-small" id="textarea2" name="negative_prompt"
                                    rows="3" placeholder="请输入负面标签"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">url</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea is-primary is-small" id="textarea3" name="url" rows="1"
                                    cols="200"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">From</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded ">
                                <input class="input is-primary is-small" id="textarea4" type="text"
                                    name="n_iter"></input>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded ">
                                <input class="input is-primary is-small" id="textarea8" type="text"
                                    name="batch_size"></input>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded ">
                                <input class="input is-primary is-small" id="textarea5" type="text"
                                    name="width"></input>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded ">
                                <input class="input is-primary is-small" id="textarea6" type="text"
                                    name="height"></input>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded ">
                                <input class="input is-primary is-small" id="textarea7" type="text"
                                    name="steps"></input>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded ">
                                <input class="input is-primary is-small" id="textarea10" type="text"
                                    name="denoising_strength"></input>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal" id="dropArea">
                    <div class="field-label is-normal">
                        <label class="label">image</label>
                    </div>
                    <div class="field-body">
                        <div class="file is-info has-name is-boxed">
                            <label class="file-label">
                                <input id="UploadImage" class="file-input" type="file" name="image" accept="image/*">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        将文件拖放到此处…
                                    </span>
                                </span>
                                <span class="file-name" style="text-align:center">
                                    <span class="file-name-text">没有图片哦!</span>
                                    <span class="icon-text has-text-danger">
                                        <span class="icon" onclick="removeImage(event)">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                    </span>
                                </span>
                            </label>
                        </div>

                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label">
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input id="SubmitDrawInfo" class="button is-primary" type="submit" value="文生图"
                                    onclick="txt2img(event)">
                                <input id="SubmitDrawInfo2" class="button is-info" type="submit" value="图生图"
                                    onclick="img2img(event)">
                                <span class="req-time ml-2" style="line-height:40px"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <h1 class="title mt-3">
            绘制结果
            <span>
                <button class="button" onclick="toggleBlur(0)">No Blur</button>
                <button class="button" onclick="toggleBlur(3)">Low Blur</button>
                <button class="button" onclick="toggleBlur(6)">High Blur</button>
            </span>
        </h1>
        <div id="ImageContainer" class="box image-container">
            {% for image in data.images %}
            <img width="600" src="data:image/jpeg;base64,{{ image }}" alt="图像">
            {% endfor %}
        </div>
    </div>
</body>
<script>
    var urlParams = new URLSearchParams(window.location.search);
    var url = urlParams.get('url');
    var globalFile = null;
    var prompt = 'masterpiece,best quality,highres,absurdres,extremely detailed,ultra-detailed,Depth of field,finely detail,best shadow,detailed light,cinematic lighting,an extremely delicate and beautiful,beautiful detailed eyes,an extremely delicate and beautiful girl,extremely detailed CG unity 8k wallpaper,extremely detailed CG,extremely_detailed_eyes_and_face,((((loli)))),((((little girl)))),((toddler)),((child)),1girl,solo,petite,skinny,ribs,breasts,sagging_breasts,breasts_apart,black_bodysuit,black_leotard,bodystocking,(see-through),nipples,covered_nipples,covered_erect_nipples,navel,covered_navel,'
    var promptList = prompt.replace("，", ",").split(",");
    var reqTime = 0

    $(document).ready(function () {
        document.getElementById('textarea1').value = prompt;
        document.getElementById('textarea2').value = 'sketch,duplicate,ugly,text,error,logo,monochrome,worst face,(bad and mutated hands:1.3),(worst quality:1.3),(low quality:1.3),(normal quality:1.3),(blurry:1.3),(missing fingers),multiple limbs,bad anatomy,(interlocked fingers),Ugly Fingers,extra digit,extra hands,extra fingers,extra legs,extra arms,fewer digits,(deformed fingers),(long fingers),signature,watermark,username,multiple panels,';
        document.getElementById('textarea3').value = url || '';
        document.getElementById('textarea4').value = '12';
        document.getElementById('textarea8').value = '1';
        document.getElementById('textarea5').value = '600';
        document.getElementById('textarea6').value = '800';
        document.getElementById('textarea7').value = '30';
        document.getElementById('textarea10').value = '0.5';
        document.getElementById('AddNewTab').href = window.location;
        $("#mySelect").change(function () {
            var selectedOption = $(this).val();
            $.ajax({
                url: "/update_model",
                type: "POST",
                data: {
                    model_name: selectedOption,
                    url: url
                },
                success: function (response) {
                    alert('切换成功');
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
        $("#UploadImage").change(function (e) {
            const file = e.target.files[0];
            handleFile(file);
        })
        var throttleInput = throttle(() => {
            prompt = $("#textarea1").val();
            console.log('prompt :>> ', prompt);
            promptList = prompt.replace("，", ",").split(",")
            adjustPromptList()
        }, 1500);
        $("#textarea1").on("input", throttleInput);
        adjustPromptList();
        initDrop();

        setInterval(() => {
            $.ajax({
                url: "/cur_model",
                type: "GET",
                data: {
                    url: url
                },
                success: function (response) {
                    $("#mySelect option").prop("selected", false);
                    var option = $("#mySelect option").filter(function () {
                        return $(this).text() === response.cur_model;
                    });
                    option.prop("selected", true);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }, 1000 * 60 * 5);
    });

    function throttle(func, delay) {
        var timerId = null;
        var lastExecTime = 0;
        return function (...args) {
            var now = Date.now();
            var elapsed = now - lastExecTime;
            if (!timerId) {
                lastExecTime = now;
                timerId = setTimeout(() => {
                    func.apply(this, args);
                    timerId = null;
                }, delay)
            } else if (elapsed < delay) {
                clearTimeout(timerId);
                timerId = null;
                lastExecTime = now;
                timerId = setTimeout(() => {
                    func.apply(this, args);
                    timerId = null;
                }, delay)
            }
        }
    }

    function adjustPromptList() {
        $(".prompt-list").empty();
        for (var i = 0; i < promptList.length; i++) {
            $(".prompt-list").append(`<div class="control"><div class="tags has-addons"><a href="https://gelbooru.com/index.php?page=post&s=list&tags=${promptList[i]}" class="tag is-link is-large" target="_blank"> ${promptList[i]}</a><a class="tag fas fa-trash is-large" onclick="removePrompt('${promptList[i]}')"></a><a class="tag fas fa-plus is-large" onclick="addTagLevel('${promptList[i]}')"></a><a class="tag fas fa-minus is-large" onclick="minusTagLevel('${promptList[i]}')"></a></div></div>`)
        }
    }

    function removePrompt(value) {
        var index = promptList.findIndex(function (i) { return i === value });
        promptList.splice(index, 1);
        prompt = promptList.join(",");
        document.getElementById('textarea1').value = prompt;
        var $child = $(".prompt-list").children().eq(index);
        if ($child) {
            $child.remove();
        }
    }

    function addTagLevel(value) {
        var index = promptList.findIndex(function (i) { return i === value });
        var result = `(${promptList[index]})`;
        promptList[index] = result;
        prompt = promptList.join(",");
        document.getElementById('textarea1').value = prompt;
        $(".prompt-list .has-addons").eq(index).html(`<a href="https://gelbooru.com/index.php?page=post&s=list&tags=${result}" class="tag is-link is-large" target="_blank"> ${result}</a><a class="tag fas fa-trash is-large" onclick="removePrompt('${result}')"></a><a class="tag fas fa-plus is-large" onclick="addTagLevel('${result}')"></a><a class="tag fas fa-minus is-large" onclick="minusTagLevel('${result}')"></a>`);
    }

    function minusTagLevel(value) {
        if (!value.includes("(")) return removePrompt(value)
        var index = promptList.findIndex(function (i) { return i === value });
        var result = promptList[index].replace("(", "").replace(")", "");
        promptList[index] = result;
        prompt = promptList.join(",");
        document.getElementById('textarea1').value = prompt;
        $(".prompt-list .has-addons").eq(index).html(`<a href="https://gelbooru.com/index.php?page=post&s=list&tags=${result}" class="tag is-link is-large" target="_blank"> ${result}</a><a class="tag fas fa-trash is-large" onclick="removePrompt('${result}')"></a><a class="tag fas fa-plus is-large" onclick="addTagLevel('${result}')"></a><a class="tag fas fa-minus is-large" onclick="minusTagLevel('${result}')"></a>`);
    }

    function txt2img(event) {
        event.preventDefault();
        var formData = handleForm()
        var headers = new Headers();
        headers.append('X-Requested-With', 'XMLHttpRequest');
        btnLoading()

        reqTime = Date.now()
        var timer = setInterval(() => {
            $(".req-time").text(parseInt((Date.now() - reqTime) / 1000))
        }, 1000);

        fetch('/draw?url=' + url || '', {
            method: 'POST',
            headers: headers,
            body: formData
        }).then(function (response) {
            if (response.ok) {
                return response.json();
            }
        }).then(function (data) {
            finished()
            handleResponse(data)
            clearInterval(timer)
            tiemr = null
        }).catch(function (error) {
            finished()
            console.error(error);
            clearInterval(timer)
            tiemr = null
        });
    }

    function img2img(event) {
        event.preventDefault();
        var formData = handleForm()
        if (formData.get("image") && !formData.get("image").name) {
            return alert("图生图必须上传图片!");
        }
        var headers = new Headers();
        headers.append('X-Requested-With', 'XMLHttpRequest');
        btnLoading()

        reqTime = Date.now()
        var timer = setInterval(() => {
            $(".req-time").text(parseInt((Date.now() - reqTime) / 1000))
        }, 1000);

        fetch('/img2img?url=' + url || '', {
            method: 'POST',
            headers: headers,
            body: formData
        }).then(function (response) {
            if (response.ok) {
                return response.json();
            }
        }).then(function (data) {
            finished()
            handleResponse(data)
            clearInterval(timer)
            tiemr = null
        }).catch(function (error) {
            finished()
            console.error(error);
            clearInterval(timer)
            tiemr = null
        });
    }

    function handleForm() {
        var formData = new FormData(document.getElementById("myForm"));
        if (globalFile) formData.set("image", globalFile);
        for (var pair of formData.entries()) {
            console.log(`${pair[0]}==>`, pair[1]);
        }
        return formData;
    }

    function handleResponse(data) {
        var imageContainer = document.getElementById("ImageContainer")
        imageContainer.innerHTML = '';
        if (data.images && data.images.length === 0) {
            alert("返回的images为0,大概率出错了!!!!")
        } else {
            data.images.forEach(function (item, index) {
                var img = document.createElement('img');
                img.src = `data:image/jpeg;base64,${item}`;
                imageContainer.appendChild(img)
            })
        }
    }

    function btnLoading() {
        var submitBtn = document.getElementById("SubmitDrawInfo")
        var submitBtn2 = document.getElementById("SubmitDrawInfo2")
        submitBtn.value = '生成中......'
        submitBtn.disabled = true;
        submitBtn2.value = '生成中......'
        submitBtn2.disabled = true;
    }

    function finished() {
        var submitBtn = document.getElementById("SubmitDrawInfo")
        var submitBtn2 = document.getElementById("SubmitDrawInfo2")
        submitBtn.value = '文生图'
        submitBtn.disabled = false;
        submitBtn2.value = '图生图'
        submitBtn2.disabled = false;
    }

    function scrollToTop() {
        window.scrollTo({
            top: 0,
            behavior: "smooth", // 可以使用平滑滚动效果
        });
    }

    function toggleBlur(blurAmount) {
        var image = document.getElementsByTagName('img');
        img.forEach(function (i) {
            i.style.filter = 'blur(' + blurAmount + 'px)';
        })
    }

    function showIframe() {
        $("#IframeCon").toggle()
    }

    function initDrop() {
        var dropArea = document.getElementById('dropArea');
        dropArea.addEventListener('dragenter', function (event) {
            event.preventDefault();
        });
        dropArea.addEventListener('dragover', function (event) {
            event.preventDefault();
        });
        dropArea.addEventListener('drop', function (event) {
            event.preventDefault();
            var files = event.dataTransfer.files;
            handleFile(files[0])
        });
    }

    function handleFile(file) {
        globalFile = file;
        $(".file-name-text").text(`${file.name} ${file.type}`)
        var reader = new FileReader()
        reader.onload = function () {
            var image = new Image()
            image.onload = function () {
                var width = image.width;
                var height = image.height;
                var whRatio = width / height;
                var w = 0;
                var h = 0;
                if (whRatio >= 1) {
                    h = 600;
                    w = parseInt(600 * whRatio)
                } else {
                    w = 600;
                    h = parseInt(600 / whRatio)
                }
                document.getElementById('textarea5').value = w + '';
                document.getElementById('textarea6').value = h + '';
            }
            image.src = reader.result;
        }
        reader.readAsDataURL(file);
    };

    function removeImage(event) {
        event.preventDefault();
        event.stopPropagation();
        globalFile = null;
        $(".file-name-text").text(`图片已清除!`)
        document.getElementById('textarea5').value = '600';
        document.getElementById('textarea6').value = '800';
    }
</script>

</html>
